[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Bb]uild/
[Bb]uilds/
[Mm]emoryCaptures/
[Uu]serSettings/

.DS_Store
Thumbs.db
.vscode/
.idea/
.vs/

*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

sysinfo.txt

# Obsidian HTML export (published to gh-pages only)
Documentation/

